grid {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10vw 30vw 10vw;
  grid-gap: 1em;
}



header,
main,
aside,
footer {
  background: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .topnav {
    overflow: hidden;
  }
  

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #577eff;
  color: white;
}