
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 80px;
  padding: 10px;
  margin-top:10%;
  margin-bottom: 10%;

}

.grid-container > div {
  padding: 10px 20;
  margin-bottom: 15%;
}

.item1 {
  grid-column: 1 / span 2;
}

.item2 {
  grid-column: 3 / span 3;
}
.itemfeature {
  grid-column: 3 / span 5;
}

.item3 {
  grid-column: 1 / span 3;
}

.item4 {
  grid-column: 4 / span 2;
}

@font-face {
  font-family: "Fuji";
  src: url("/fonts/Fuji-Bold.otf") format("otf"),
}

  @font-face {
    font-family: "Pangram";
    src: url("/fonts/Pangram-Regular.otf") format("otf"),}
  
  h2{
    font-family: "Pangram-regular", sans-serif;
  }
  h1{
    font-family: "Fuji-Bold", sans-serif;
    font-size: 48;
  }
  hr.new {
    border-top: 15px #000000;
  }
  

  .responsive {
    max-width: 100%;
    height: auto;
  }
   body {
    margin: 0 auto;
    max-width: 56em;
    padding: 3em 0;
    font-family: "Pangram-Regular", sans-serif;
    background-color: #F4F2F8;
  }

  header{
    margin-top: 10%;

  }
  
  
  footer{
    margin-top: 10%;
  }

.CTA{
  margin-top: 10%;
}

.topnav a {
  float: left;
  color: #071346;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 1.1em;
}

.topnav a:hover {
  color:#2368B9;
  font-weight: bold;
  text-decoration: underline;
}

.topnav a.active {
  color:#2368B9;
  font-weight: bold;
  text-decoration: underline;

}
header{
  margin-bottom: 30%;

}

/* Code from: https://www.fabriziovanmarciano.com/button-styles/ */
.example_a {
  color: #fff;
  text-decoration: none;
  background: #20A990;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  }

  .example_a:hover {
    background: #ED7F91;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }