
@font-face {
  font-family: "Fuji";
  src: url("/fonts/Fuji-Bold.otf") format("otf"),
}

  @font-face {
    font-family: "Pangram";
    src: url("/fonts/Pangram-Regular.otf") format("otf"),}
  

/* CSS grid code */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 80px;
  padding: 10px;
  margin-top:10%;
  margin-bottom: 10%;
}

.grid-container > div {
  padding: 10px 20;
  margin-bottom: 15%;
}

.item1 {
  grid-column: 1 / span 2;
}

.item2 {
  grid-column: 3 / span 3;
}
.itemfeature {
  grid-column: 3 / span 5;
  display: block;
}

.item3 {
  grid-column: 1 / span 3;
}

.item4 {
  grid-column: 4 / span 2;
}

/* Mobile grid settings */
.mobile1 {
  grid-column: 1 / span 5;
}

.mobile2 {
  grid-column: 3 / span 5;
}
.mobilefeature {
  grid-column: 1 / span 5;
}

.mobile3 {
  grid-column: 1 / span 5;
}

.mobile4 {
  grid-column: 4 / span 2;
}


  h2{
    font-family: "Pangram-regular", sans-serif;
  }
  h1{
    font-family: "Fuji-Bold", sans-serif;
    font-size: 48;
  }
  hr.new {
    border-top: 15px #000000;
  }
  .mobile1 { display: none; }
  .mobile2 { display: none; }
  .mobile3 { display: none; }
  .mobile4 { display: none; }
  .mobilefeature { display: none; }

  /* Fallback in case fonts don't load */
  html {
    font-family: "Pangram-regular", "Lato", Tahoma, Sans-Serif;
  }
/* Adding grid for smaller screens only */
  @media only screen and (max-width: 600px) {
    .item1 { display: none; }
    .item2 { display: none; }
    .item3 { display: none; }
    .item4 { display: none; }
    .itemfeature { display: none; }
    .grid-container {
     display:none;
    }
    .credit{display:none;}
.mobile1{
  display: block;
  grid-column: 1 / span 3;
}
.mobile2{
  display: block;
  grid-column: 1 / span 3;
}
.mobile3{
  display: block;
  grid-column: 1 / span 3;
}
.mobile4{
  display: block;
  grid-column: 1 / span 3;
}
.mobilefeature{
  display: block;
  grid-column: 1 / span 3;
}
.grid-container-mobile {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-gap: 80px;
  padding: 10px;
  margin-top:10%;
  margin-bottom: 10%;
}
  }
  

  .responsive {
    max-width: 100%;
    height: auto;
  }
   body {
    margin: 0 auto;
    max-width: 56em;
    padding: 3em 0;
    font-family: "Pangram-Regular", sans-serif;
    background: #F4F2F8;
  }

  header{
    margin-top: 10%;

  }
  
  
  footer{
    margin-top: 10%;
  }

.CTA{
  margin-top: 10%;
}

.nav a {
  float: left;
  color: #071346;
  text-decoration: none;
  padding: 16px 16px;
  font-size: 1.3em;
}

.nav a:hover {
  color:#2368B9;
  font-weight: bold;
  text-decoration: none;

}

.nav a.active {
  color:#2368B9;
  font-weight: bold;
  text-decoration: none;

}


img{
  border-radius: 6px;
}
/* Code from: https://www.fabriziovanmarciano.com/button-styles/ */
/* CTA button with styles for hover */

.example_a {
  color: #fff;
  text-decoration: none;
  background: #20A990;
  padding: 20px;
  border-radius: 30px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  }

  .example_a:hover {
    background: #ED7F91;
    letter-spacing: 1px;
    transition: all 0.4s ease 0s;
    }